* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(242, 242, 93);
}

.logo {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

input {
    padding: 10px;
    background-color: white;
    border: 3px solid blue;
    width: 100%;
    /* Arama çubuğunun genişliğini ayarla */
    max-width: 650px;
    /* Maksimum genişlik belirle */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* Arama çubuğu ile kartlar arasına boşluk ekle */
}

.card-container {
    background-image: url(../src/Assets.js/nba-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Satırda 4 tane kart */
    gap: 100px;
    margin-top: 150px;
    justify-items: center;

}

.card {

    width: 300px;
    height: 300px;
    perspective: 1000px;
    position: relative;
    margin: 10px;
    transition: transform 0.8s;
}

.card .front,
.card .back {
    width: 300px;
    height: 300px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card .front {

    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    cursor: pointer;
    padding: 20px;
}

.card .back {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #e0e0e0;
    transform: rotateY(180deg);
    padding: 20px;
}

.card img {
    width: 300px;
    height: 250px;
    border-radius: 5%;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
}

.card h2 {
    margin: 0;
    width: 300px;
    height: 110px;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    background-color: #e0e0e0;
}

.card ul {
    padding: 0;
    list-style-type: none;
}

.card li {
    margin-bottom: 5px;
}